<mat-list role="list">
  <mat-list-item class="u-text-align-center">
    <span class="mat-h2" > Detalhes do Usuários </span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <span class="mat-h2">Nome: </span> <span class="mat-h3">Wesley</span>
</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <span class="mat-h2">Email: </span> 
</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <span class="mat-h2">Telefone: </span> 
</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <span class="mat-h2">Endereço: </span> 
</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <span class="mat-h2">Ativo: </span> 
</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <span class="mat-h2">Função: </span> 
</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> 
    <span class="mat-h2">Data de Cadastro: </span> 
</mat-list-item>
  <mat-divider></mat-divider>