* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Faz com que as bordas e o preenchimento sejam incluídos no tamanho total do elemento */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
